$green: #10ee80;
$green-alt: #10FFaa;
$red: #ff3060;
$red-alt: #cc3020;
$yellow: #eeee30;
$yellow-alt: #ffaa55;

@mixin gradient($from-color, $to-color, $from-key:0%, $to-key:100%, $angle:180deg) {
    background: mix($from-color, $to-color); /* Fallback */
    background: -webkit-linear-gradient($angle, $from-color $from-key, $to-color $to-key);
    background:    -moz-linear-gradient($angle, $from-color $from-key, $to-color $to-key);
    background:     -ms-linear-gradient($angle, $from-color $from-key, $to-color $to-key);
    background:      -o-linear-gradient($angle, $from-color $from-key, $to-color $to-key);
    background:         linear-gradient($angle, $from-color $from-key, $to-color $to-key);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}

@mixin anim($animation, $length, $curve, $cycle) {
    -webkit-animation: $animation $length $curve $cycle;
    -moz-animation: $animation $length $curve $cycle;
    -o-animation: $animation $length $curve $cycle;
    animation: $animation $length $curve $cycle;
}

page-mainpage {
    .swiper-slide {
        align-items: initial;
        margin-top: 15%;
    }
    ion-content, .content-md {
        &.locked {
            @include gradient(#ff6080, #ffccc8, 0%, 100%, 310deg);
            background-size: 400% 400%;
            @include anim(pulse, 0.5s, ease, infinite);
        }
        &.unlocked {
            @include gradient(#70ff88, #70ffdd, 0%, 100%, 310deg);
            background-size: 400% 400%;
            @include anim(pulse, 2s, ease, infinite);
        }
    }
    .lock-container {
        display:inline-block;
        position: relative;
        height: 270px;
        width: 270px;
        vertical-align: middle;
        padding: 15px;
    }
    .lock-status-ring {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #ddd;

        &.polling {
            @include gradient(#ffffff, #c9c9c9, 70%, 85%);
            @include anim(spin, 3s, linear, infinite);
        }
        &.online {
            @include gradient($green, $green-alt, 15%, 70%);
        }
        &.offline {
            @include gradient($red, $red-alt, 15%, 70%);
        }
        &.denied {
            @include gradient($yellow, $yellow-alt, 15%, 90%);
        }
    }

    .lock-button {
        height: 90%;
        width: 90%;
        border-radius: 50%;
        background: white;
        position: absolute;
        top: 5%;
        bottom: 5%;
        right: 5%;
        left: 5%;

        .lock-icon {
            font-size: 150px;
        }
        &:hover {
            background: #eee;
        }
        &:active {
            background: #ddd;
        }
    }
    .lock-message {
        min-height: 60px;
        font-size: 50px;
    }
    .lock-status {
        color: #555;
        font-weight: bold;
        min-height: 30px;
    }

    @-webkit-keyframes spin {
        from { -webkit-transform:rotate(0deg); }
        to { -webkit-transform:rotate(360deg); }
    }

    @-webkit-keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}