$green: #10ee80;
$green-alt: #10FFaa;
$red: #ff3060;
$red-alt: #cc3020;
$yellow: #eeee30;
$yellow-alt: #ffaa55;

@mixin gradient($from-color, $from-key, $to-color, $to-key) {
    background-color: mix($from-color, $to-color); /* Fallback */
    background-image: -webkit-linear-gradient(top, $from-color $from-key, $to-color $to-key);
    background-image:    -moz-linear-gradient(top, $from-color $from-key, $to-color $to-key);
    background-image:     -ms-linear-gradient(top, $from-color $from-key, $to-color $to-key);
    background-image:      -o-linear-gradient(top, $from-color $from-key, $to-color $to-key);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}

page-mainpage {
    ion-content, .content-md{
        .denied {
            background: linear-gradient(310deg, #ff6080, #ffccc8);
            background-size: 400% 400%;
            -webkit-animation: pulse 1s ease infinite;
            -moz-animation: pulse 0.5s ease infinite;
            -o-animation: pulse 0.5s ease infinite;
            animation: pulse 0.5s ease infinite;
        }
        .unlocked {
            background: linear-gradient(310deg, #70ff88, #70ffdd);
            background-size: 400% 400%;

            -webkit-animation: pulse 2s ease infinite;
            -moz-animation: pulse 2s ease infinite;
            -o-animation: pulse 2s ease infinite;
            animation: pulse 2s ease infinite;
        }
    }
    .lock-container {
        display:inline-block;
        position: relative;
        height: 270px;
        width: 270px;
        vertical-align: middle;
        padding: 15px;
    }
    .lock-status {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #ddd;

        &.polling {
            @include gradient(#ffffff, 70%, #c9c9c9, 85%);

            -webkit-animation-name: spin;
            -webkit-animation-duration: 4000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: spin;
            -moz-animation-duration: 4000ms;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            -ms-animation-name: spin;
            -ms-animation-duration: 4000ms;
            -ms-animation-iteration-count: infinite;
            -ms-animation-timing-function: linear;
            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &.online {
            @include gradient($green, 15%, $green-alt, 70%);
        }
        &.offline {
            @include gradient($red, 15%, $red-alt, 70%);
        }
        &.denied {
            @include gradient($yellow, 15%, $yellow-alt, 90%);
        }
    }
    .lock-button {
        height: 90%;
        width: 90%;
        border-radius: 50%;
        background: white;
        position: absolute;
        top: 5%;
        bottom: 5%;
        right: 5%;
        left: 5%;

        .lock-icon {
            font-size: 150px;
        }
        &:hover {
            background: #eee;
        }
        &:active {
            background: #ddd;
        }
    }
    @-webkit-keyframes spin {
        from {
            -webkit-transform:rotate(0deg);
        }
        to {
            -webkit-transform:rotate(360deg);
        }
    }

    @-webkit-keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}