ion-slides {
    height: 100%;
    width: 100%;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
$green: #10ee80;
$green-alt: #10FFaa;
$red: #ff3060;
$red-alt: #cc3020;
$yellow: #eeee30;
$yellow-alt: #ffaa55;


@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

@keyframes pulse {
    0%{ background-position:0% 50% }
    50%{ background-position:100% 50% }
    100%{ background-position:0% 50% }
}

@mixin border-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin gradient($from-color, $to-color, $from-key:0%, $to-key:100%, $angle:180deg) {
    background-image: mix($from-color, $to-color)  !important; /* Fallback */
    background-image: -webkit-linear-gradient($angle, $from-color $from-key, $to-color $to-key) !important;
    background-image:    -moz-linear-gradient($angle, $from-color $from-key, $to-color $to-key) !important;
    background-image:     -ms-linear-gradient($angle, $from-color $from-key, $to-color $to-key) !important;
    background-image:      -o-linear-gradient($angle, $from-color $from-key, $to-color $to-key) !important;
    background-image:         linear-gradient($angle, $from-color $from-key, $to-color $to-key) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
ion-content {
    display: block;
    height: 100%;

    .background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.locked {
            @include gradient(#ff6080, #ffccc8, 0%, 100%, 310deg);
            background-size: 400% 400%;
            animation: pulse 2s infinite;
        }
        &.unlocked {
            @include gradient(#70ff88, #70ffdd, 0%, 100%, 310deg);
            background-size: 400% 400%;
            animation: pulse 2s infinite;
        }
    }
}

#lock-screen {
    text-align: center;
    max-height: 80vh;
    left: 0;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;

    .lock-message {
        min-height: 70px;
        font-size: 50px;
    }
    .lock-container {
	    display:inline-block;
        position: relative;
        height: 40vh;
	    width: 40vh;
	    vertical-align: middle;
	    padding: 15px;
	    button {
	        border-width: 0;
        }

        .lock-status-ring {
            height: 90%;
            width: 90%;
            @include border-radius(50%);
            position: absolute;
            top: 5%;
            bottom: 5%;
            right: 5%;
            left: 5%;
            background: #ddd;


	        &.polling {
                @include gradient(#ffffff, #c9c9c9, 70%, 85%);
                animation: rotation 3s infinite linear;
            }
            &.online {
                @include gradient($green, $green-alt, 15%, 70%);
            }
            &.offline {
                @include gradient($red, $red-alt, 15%, 70%);
            }
            &.denied {
                @include gradient($yellow, $yellow-alt, 15%, 90%);
            }
        }

        .lock-button {
            height: 80%;
	        width: 80%;
	        @include border-radius(50%);
	        position: absolute;
	        top: 10%;
	        bottom: 10%;
            right: 10%;
	        left: 10%;
            background: white;
            outline: none !important;

            ion-icon {
                font-size: 20vh;
            }
            &:hover {
                background: #eee;
            }
            &:active {
                background: #ddd;
                outline: none !important;
            }
            &:focus {
                outline: none !important;
            }
	    }
    }

    .lock-status {
        color: #555;
	    font-weight: bold;
        min-height: 30px;
    }
}
